[Container]
ContainerName=${CADDY_SERVICE_NAME}
Image=${CADDY_IMAGE_NAMESPACE}/${CADDY_IMAGE_NAME}
SecurityLabelType=${CADDY_SERVICE_NAME}.process
Network=app.network

PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp
PublishPort=2019:2019

Volume=${REMOTE_CADDYFILE_PATH}:/etc/caddy/Caddyfile:ro,Z
Volume=${REMOTE_CADDY_DATA_DIR}:/data:Z

[Service]
Restart=always

[Install]
WantedBy=default.target
