[Container]
ContainerName=${OFFCHAIN_SERVICE_SERVICE_NAME}
Image=${OFFCHAIN_SERVICE_IMAGE_NAMESPACE}/${OFFCHAIN_SERVICE_SERVICE_NAME}
SecurityLabelType=${OFFCHAIN_SERVICE_SERVICE_NAME}.process
Network=app.network

Environment=PRIVATE_KEY="${PRIVATE_KEY}"
Environment=FRONTEND_URL="${FRONTEND_URL}"

Environment=SMTP_HOST="${SMTP_HOST}"
Environment=SMTP_PORT="${SMTP_PORT}"
Environment=SMTP_USER="${SMTP_USER}"
Environment=SMTP_PASS="${SMTP_PASS}"
Environment=SMTP_FROM="${SMTP_FROM}"
Environment=PORT="${PORT}"

Environment=GRAFANA_ENVIRONMENT="${GRAFANA_ENVIRONMENT}"
Environment=OTEL_EXPORTER_OTLP_ENDPOINT="http://host.containers.internal:4318"

[Service]
Restart=always

[Install]
WantedBy=default.target
