[Container]
ContainerName=${PAYMENTS_SERVICE_SERVICE_NAME}
Image=${PAYMENTS_SERVICE_IMAGE_NAMESPACE}/${PAYMENTS_SERVICE_SERVICE_NAME}:${IMAGE_TAG}
SecurityLabelType=${PAYMENTS_SERVICE_SERVICE_NAME}.process
Network=app.network

Environment="PORT=3001"
Environment="PAYREXX_INSTANCE_NAME=${PAYREXX_INSTANCE_NAME}"
Environment="PAYREXX_API_SECRET=${PAYREXX_API_SECRET}"

Environment="GRAFANA_ENVIRONMENT=${GRAFANA_ENVIRONMENT}"
Environment="OTEL_EXPORTER_OTLP_ENDPOINT=http://host.containers.internal:4318"

[Service]
Restart=always
MemoryMax=128M

[Install]
WantedBy=default.target
